<header class="main-header">
	<div class="container">
		<div class="row align-items-center g-4">
			<div class="col-12 col-md-6">
				<a href="/" class="main-header_home-link">
					<img class="img-fluid w-50" src="/images/logo-mercado-liebre.svg">
				</a>
			</div>
			<% if(locals.userLogin && locals.userLogin.rol === 1){ %> 
				<div class="col-12 col-md-6 d-flex justify-content-end">
					<form action="/search" method="GET" class="search-form w-100 " id="form-search-products">
						<input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input" id="keywords">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
			<% } %>
		
		</div>

		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="main-navbar">
			<ul class="left-navbar">
				<% if(locals.userLogin && locals.userLogin.rol === 1){ %> 
					<li><a href="/products/create">Agregar producto</a></li>
					<li><a href="/products/recycles">Productos eliminados</a></li>
				<% }else{ %>
					<li><a href="/products">Todos los productos</a></li>
					<li><a href="#">Tiendas Oficiales</a></li>
				<% } %>
			
			
			</ul>

			<ul class="right-navbar">
				<% if (locals.userLogin) { %>
					<% if(locals.userLogin.rol !== 1){ %> 
						<li><a href="/users/profile">Mi perfil <i class="far fa-address-card"></i></a></li>
						<li id="btn-cart"><button type="button" class="btn fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Mis compras <i class="fas fa-shopping-basket"></i>
						  </button></li>
					<% } %>
					<li><a href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a></li>
					

				<% }else{ %>
				<li><a href="/users/register" id="link-register">Creá tu cuenta <i class="fas fa-address-card"></i></a></li>
				<li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
				<% } %>
			</ul>
		</nav>
	</div>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Mis compras</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
				<table class="table" id="cart-box">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Producto</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Precio</th>
						<th scope="col">Subtotal</th>
					  </tr>
					</thead>
					<tbody id="cart-items">
					
					</tbody>
				  </table>
				<p id="msg-empty" hidden>No tenés productos agregados al carrrito</p>
			
		</div>
		<div class="modal-footer">
			<div id="btn-buy">
				<button id="btn-cart-removeAll" type="button" class="btn btn-danger" value="<%= locals.userLogin && userLogin.order && userLogin.order.id %>">Vaciar carrito</button>
				<button type="button" class="btn btn-primary">Finalizar compra</button> 
			</div>
		<button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir comprando</button>
		</div>
	  </div>
	</div>
  </div>